
    <form action="/adminForm" method="POST">
        <p><input class="w3-input w3-padding-16" type="email" placeholder="email" required name="email"></p>
        <p><input class="w3-input w3-padding-16" type="password" placeholder="password" required name="password"></p>
        <p><input type="file" name="profil_pic"></p>     
            <button type="submit">
                <i class="fa fa-paper-plane"></i> sign in
            </button>
            <button>
                <a href="#">
                <i class="fa fa-paper-plane"></i> sign in with facebook
                </a>
            </button>
        </p>
    </form>
